fastapi
uvicorn[standard]
python-dotenv
psycopg2-binary
sqlalchemy
alembic
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
openai
python-multipart
supabase
# 음성 특징점 추출 (2단계에서 사용)
numpy
librosa
praat-parselmouth
opensmile
firebase-admin
apscheduler

# ML(음성분석) 관련 추가 의존성
openai-whisper
transformers
catboost
xgboost
imbalanced-learn
torch
torchaudio
easydict
einops
scikit-learn==1.6.1
ffmpeg-python

# serab-byols 로컬 패키지 자동 설치
-e ../ml/serab-byols

